html, body, img{
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
.logo{
    width:100%;
    height:20%;
    margin-top: 1%;
    text-align: center;
}

#title{
    background-color: #fdffe7;
    width:60%;
    text-align: center;
    height:auto;
    padding:3%;
    box-shadow: 20px 15px #d5de70;
    margin-top: 10%;
    border-radius: 0px 4px 4px 0px;
}
.tit{
    font-family: 'open_sans_condensedbold';
    font-size: 30px;
    font-style: italic;
    color: #263238;
}

.balloon{
    text-align: center;
    width:100%;
    position: fixed;
    overflow: hidden;
    margin-top: 0%;
    padding:0;
    z-index: 3;
    padding-top: 25px;
}
#ball{
    position:relative;
    overflow: visible;
    padding:0%;
    margin: 0%;

}
.cards{
    width:80%;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

img{
    touch-action: manipulation;
}

/*.instruc{
    color: #263238;
    background-color: #e2e988;
    font-family: 'open_sanssemibold';
    font-size: 16px;
    letter-spacing: -0.01em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 11%;
    padding: 5%;
    border-radius: 4px;
}*/

.cards{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20%;
}

.bubble-wobble {
    -webkit-animation: bubbleWobble 0.5s ease;
    -moz-animation: bubbleWobble 0.5s ease;
    animation: bubbleWobble 0.5s ease;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

@-webkit-keyframes bubbleWobble {
    0% {
    -webkit-transform: scale(1);
    }
    20% {
    -webkit-transform: scale(0.8);
    }
    40% {
    -webkit-transform: scale(1.1);
    }
    60% {
    -webkit-transform: scale(0.95);
    } 
    80% {
    -webkit-transform: scale(1.03);
    } 
    100% {
    -webkit-transform: scale(1);
    } 
}

@-moz-keyframes bubbleWobble {
    0% {
    -moz-transform: scale(1);
    }
    20% {
    -moz-transform: scale(0.8);
    }
    40% {
    -moz-transform: scale(1.1);
    }
    60% {
    -moz-transform: scale(0.95);
    } 
    80% {
    -moz-transform: scale(1.03);
    } 
    100% {
    -moz-transform: scale(1);
    } 
}

@keyframes bubbleWobble {
    0% {
    transform: scale(1);
    }
    20% {
    transform: scale(0.8);
    }
    40% {
    transform: scale(1.1);
    }
    60% {
    transform: scale(0.95);
    } 
    80% {
    transform: scale(1.03);
    } 
    100% {
    transform: scale(1);
    } 
}

.bubble-pop {
    -webkit-animation: bubblePop 0.4s ease;
    -moz-animation: bubblePop 0.4s ease;
    animation: bubblePop 0.4s ease;
    opacity: 0;
}

@-webkit-keyframes bubblePop {
    0% {
    -webkit-transform: scale(1);
    opacity: 1;
    }
    20% {
    -webkit-transform: scale(0);
    opacity: 0.6;
    }
    100% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    }
}

@-moz-keyframes bubblePop {
    0% {
    -moz-transform: scale(1);
    opacity: 1;
    }
    20% {
    -moz-transform: scale(0);
    opacity: 0.6;
    }
    100% {
    -moz-transform: scale(0.5);
    opacity: 0;
    }
}

@keyframes bubblePop {
    0% {
    transform: scale(1);
    opacity: 1;
    }
    20% {
    transform: scale(0);
    opacity: 0.6;
    }
    100% {
    transform: scale(0.5);
    opacity: 0;
    }
}