.bubble{
    position: absolute;
    z-index: 10;
    top: 50%;
    background: transparent;
    border-radius: 50%;

    pointer-events: none;
    box-shadow: inset 0 0 10px #57ADB9;
    animation: down 3s linear infinite;
}

.bubble::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(#fff,transparent);
    border-radius: 50%;
}

@keyframes down{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
    100%{
        transform: translateY(-2000%);
        opacity: 0;
    }
}