#cards{
    width: 100%;
    height: auto;
    position: relative;
}

#cards img{
    width: 95%;
    height: auto;
}

#share{
    width: 23% !important;
    position: absolute;
    bottom: 5%;
    right: 6%;
}

.hidden{
    visibility: hidden;
}

#screenshot{
    position: absolute;
}
