#game-title{
    width: 100%;
}

#title2{
    width: 60%;
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 10px 0 5px #FFCF84;
    padding: 20px;
}

#instruc{
    font-size: 20px;
}

#help{
    position: absolute;
    width: 15%;
    pointer-events: none;
}

#balloon{
    width: 370px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}