html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    background-color: var(--bg-blue);
}

*{
    font-family:'Rubik', sans-serif;;
}

@font-face {
    font-family: RubikBold;
    src: url("../font/head/Rubik-Bold.ttf");
}

@font-face {
    font-family: "GothamBook";
    src: url('../font/body/Gotham-Book.woff') format('woff'),
         url('../font/body/Gotham-Book.woff2') format('woff2'),
         url('../font/body/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
  }

:root {
    --bg-blue: #EAF6F8;
    --darkBlue:#2B4B77;
    --buttonText:#22555E;
    --button-shadow:rgb(0,0,0,0.1)
}

.starting {
    visibility: hidden;
    opacity: 0;
}

.hide{
    display: none !important;
    visibility: hidden;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

#splash_screen,
#instruction_screen,
#game_screen,
#end_screen,
#information_screen {

    width: 100%;
    height: 100%;

    text-align: center;

    background-color: var(--bg-blue);

    


}

#splash_screen{
    background-image: url("../img/splash_screen/bottom.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#instruction_screen{
    background-image: url("../img/instruction_screen/bottom2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#game_screen{
    background-image: url("../img/game_screen/bottom3.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#end_screen{
    gap: 10px;
    background-image: url("../img/end_screen/bottom4.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#information_screen{
    gap: 20px;
    justify-content: flex-start !important;
}

#instruction_screen,
#game_screen,
#game_screen,
#end_screen,
#information_screen{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#information_screen{
    overflow-y: scroll;
    gap: 25px;
}

#play_button,
#next_button{
    width: 75%;
    padding: 20px;
    border: 0px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: var(--buttonText);
    background-image: url(../img/instruction_screen/button.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: 12;
    bottom: 3%;
  
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

#more_button{
    width: 75%;
    padding: 20px;
    border: 0px;
    font-size: 18px;
    font-weight: 600;
    color: var(--buttonText);
    background-color: transparent;
    background-image: url(../img/instruction_screen/button.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 12;
    margin-bottom: 10%;
}


#emtpy{
    width: 75%;
    padding: 20px;
    border: 0px;
    font-size: 18px;
    font-weight: 600;
    visibility: hidden;
}

