html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    background-color: var(--bg-blue);
}

*{
    font-family:'Rubik', sans-serif;;
}

@font-face {
    font-family: RubikBold;
    src: url("../font/head/Rubik-Bold.ttf");
}

@font-face {
    font-family: GothamBook;
    src: url("../font/body/GothamBook.ttf");
}

:root {
    --bg-blue: #EAF6F8;
    --darkBlue:#2B4B77;
    --buttoText:#22555E;
    --button-shadow:rgb(0,0,0,0.1)
}

.starting {
    visibility: hidden;
    opacity: 0;
}

.hide{
    display: none !important;
    visibility: hidden;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

#splash_screen,
#instruction_screen,
#game_screen,
#end_screen,
#information_screen {

    width: 100%;
    height: 100%;

    text-align: center;

    background-color: var(--bg-blue);

    


}

#splash_screen{
    background-image: url("../img/splash_screen/bottom.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#instruction_screen{
    background-image: url("../img/instruction_screen/bottom2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#game_screen{
    background-image: url("../img/game_screen/bottom3.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#end_screen{
    gap: 10px;
    background-image: url("../img/end_screen/bottom4.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#information_screen{
    background-image: url("../img/information_screen/bottom5.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    gap: 10px;
    justify-content: flex-start !important;
}

#instruction_screen,
#game_screen,
#game_screen,
#end_screen,
#information_screen{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

