#picture{
    width: 100%;
    height: auto;
}

.background{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    justify-content: flex-start;
    background: url("../img/information_screen/bottom5.png") bottom no-repeat;
    background-size: 100% 100%;
}

#info{
    width: 80%;
    text-align: left;
    display: flex;
    z-index: inherit;
    flex-direction: column;
    gap: 25px;
}

#info h1{
    text-align: left;
    color: var(--buttonText);
    font-size: 6.7vw;
    margin: 0px;
}

#info p{
    margin: 0px;
    font-weight: 500;
    font-size: 4.2vw;
    color: var(--darkBlue);
    font-family: 'GothamBook';
}

#moreSpace{
    margin-top: 15px !important;
}

#details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    z-index: inherit;
}

#details img{
    width: 10%;
}

.bottom{
    position: absolute;
    width: 100%;
    z-index: 0;
    height: auto;
    bottom: 0;
}