#picture{
    margin-top: -50px;
    width: 100%;
    height: auto;
}

#info{
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info h1{
    text-align: center;
    color: var(--darkBlue);
    font-size: 25px;
    margin: 0px;
}

#info p{
    margin: 0px;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkBlue);
    font-family: 'GothamBook';
}

#details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#details img{
    width: 10%;
}

#texts p{
    margin: 0px;
}