#instuctions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 30px;
}

#instuctions img{
    width: 90%;
}

#instuctions h1{
    margin: 0px;
    font-size: 25px;
    font-weight: 900;
    color: #57ADB9;
}

#instuctions p{
    margin: 0px;
    font-size: 4.2vw;
    color: var(--darkBlue);
    font-family: "GothamBook";
}