#instuctions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
}

h1{
    font-size: 25px;
    font-weight: 900;
    color: #57ADB9;
}

p{
    font-size: 16px;
    color: var(--darkBlue);
}

#instructions_details{
    padding: 10px 0px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

#play_button,
#next_button,
#more_button{
    width: 90%;
    padding: 20px;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    color: var(--buttonText);
    background-image: url(../img/instruction_screen/button.png);
    background-size: 100% 100%;
    position: absolute;
    
    bottom: 3%;
  
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}